@{
    ViewData["Title"] = "CheckBox";

}
<div >
    <h1 style="font-size:35px; ">Check Box</h1>
</div>
<form method="post">
    <p>
        @Html.CheckBox("State",false) IsSelected
    </p>
    <input type="submit" value="Submit" >
</form>
